<div id="<%= dom_id entity %>" class="shadow p-3 mb-3 bg-body-tertiary rounded">
  <%= link_to entity, class: "nav-link" do %>
    <div class="d-flex justify-content-between align-items-center">
        <strong> Name :</strong>
        <%= entity.name %>
      <p>
        <strong> Amount :</strong>
        $<%= entity.amount %>
      </p>
    </div>
<% end %>
</div>