<% if flash[:notice] %>
      <div class="alert alert-dismissible alert-success show fade  mb-0" role="alert">
        <%= flash[:notice] %>
        <button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-dismissible alert-warning  fade mb-0 show " role="alert">
        <%= flash[:alert] %>
        <button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
    <% end %>