<div class="d-flex flex-column justify-content-center align-items-center" class="h-full">
    <h2 class="fixed-center">Budget app</h2>
    <div class="d-flex flex-column fixed-bottom align-items-center justify-content-center text-center">
    <%= link_to "Login", new_user_session_path, class: "text-white bg-primary w-100 p-3 nav-link" %>
    <%= link_to "Signup", new_user_registration_path, class: "nav-link p-3 w-100" %>
  </div>
</div>